In [26]:
import pandas as pd

In [27]:
air_df = pd.read_csv(r"C:\Users\shoot\OneDrive\Desktop\AirPassengers.csv")
air_df

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [36]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Month                        144 non-null    object
 1   #Passengers                  144 non-null    int64
 2   #Passengers_rolling_mean_3   144 non-null    float64
 3   #Passengers_rolling_std_3    144 non-null    float64
 4   #Passengers_rolling_var_3    144 non-null    float64
 5   #Passengers_rolling_cv_3     144 non-null    float64
 6   #Passengers_rolling_mean_6   144 non-null    float64
 7   #Passengers_rolling_std_6    144 non-null    float64
 8   #Passengers_rolling_var_6    144 non-null    float64
 9   #Passengers_rolling_cv_6     144 non-null    float64
 10  #Passengers_rolling_mean_12  144 non-null    float64
 11  #Passengers_rolling_std_12   144 non-null    float64
 12  #Passengers_rolling_var_12   144 non-null    float64
 13  #Passengers_rolling_cv_12    144 non-null    float64
dtypes: float64(12), int64(1), object(1)
memory usage: 15.9+ KB

In [37]:
air_df['Month'] = pd.to_datetime(air_df['Month'])

In [38]:
air_df['Month'].min()

Timestamp('1949-01-01 00:00:00')

In [39]:
air_df['Month'].max()

Timestamp('1960-12-01 00:00:00')

In [28]:
air_df.isnull().sum()

Month          0
#Passengers    0
dtype: int64

In [ ]:
# 시간순 누적 통계량 기반의 그룹별 롤링 피처 자동 생성 함수, 데이터의 안정성, 변동성, 예측 가능성을 수치화
def add_rolling_stats(df, window_sizes, col='#Passengers'):
    # 단일 값도 되고 리스트도 되는 함수 인자 처리 방식
    if isinstance(window_sizes, int):
        window_sizes = [window_sizes]

    for w in window_sizes:
        mean_col = f'{col}_rolling_mean_{w}'
        std_col = f'{col}_rolling_std_{w}'
        var_col = f'{col}_rolling_var_{w}'
        cv_col = f'{col}_rolling_cv_{w}'

        df[mean_col] = df[col].rolling(w, min_periods=1).mean()
        df[std_col] = df[col].rolling(w, min_periods=1).std()
        df[var_col] = df[col].rolling(w, min_periods=1).var()
        df[cv_col] = df[std_col] / (df[mean_col] + (1e-9))

        return df

In [30]:
air_df = add_rolling_stats(air_df, window_sizes=3, col='#Passengers')
air_df = add_rolling_stats(air_df, window_sizes=6, col='#Passengers')
air_df = add_rolling_stats(air_df, window_sizes=12, col='#Passengers')

In [31]:
air_df

,Month,#Passengers,#Passengers_rolling_mean_3,#Passengers_rolling_std_3,#Passengers_rolling_var_3,#Passengers_rolling_cv_3,#Passengers_rolling_mean_6,#Passengers_rolling_std_6,#Passengers_rolling_var_6,#Passengers_rolling_cv_6,#Passengers_rolling_mean_12,#Passengers_rolling_std_12,#Passengers_rolling_var_12,#Passengers_rolling_cv_12
0,1949-01,112,112.000000,NaN,NaN,NaN,112.000000,NaN,NaN,NaN,112.000000,NaN,NaN,NaN
1,1949-02,118,115.000000,4.242641,18.000000,0.036893,115.000000,4.242641,18.000000,0.036893,115.000000,4.242641,18.000000,0.036893
2,1949-03,132,120.666667,10.263203,105.333333,0.085054,120.666667,10.263203,105.333333,0.085054,120.666667,10.263203,105.333333,0.085054
3,1949-04,129,126.333333,7.371115,54.333333,0.058347,122.750000,9.358597,87.583333,0.076241,122.750000,9.358597,87.583333,0.076241
4,1949-05,121,127.333333,5.686241,32.333333,0.044656,122.400000,8.142481,66.300000,0.066524,122.400000,8.142481,66.300000,0.066524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1960-08,606,587.666667,46.306947,2144.333333,0.078798,519.166667,82.470399,6801.366667,0.158851,463.333333,83.630500,6994.060606,0.180497
140,1960-09,508,578.666667,61.719797,3809.333333,0.106659,534.000000,67.495185,4555.600000,0.126395,467.083333,84.617276,7160.083333,0.181161
141,1960-10,461,525.000000,73.979727,5473.000000,0.140914,534.000000,67.495185,4555.600000,0.126395,471.583333,82.541954,6813.174242,0.175032
142,1960-11,390,453.000000,59.405387,3529.000000,0.131138,520.333333,87.805846,7709.866667,0.168749,473.916667,79.502382,6320.628788,0.167756
143,1960-12,432,427.666667,35.697806,1274.333333,0.083471,503.166667,94.200672,8873.766667,0.187216,476.166667,77.737125,6043.060606,0.163256

In [34]:
air_df.fillna(method='bfill', inplace=True)  # 첫번째 행의 nan값들을 두 번째 행에서 나온 값으로 채움

C:\Users\shoot\AppData\Local\Temp\ipykernel_16348\2865147779.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  air_df.fillna(method='bfill', inplace=True)  # 첫번째 행의 nan값들을 두 번째 행에서 나온 값으로 채움

In [35]:
air_df

,Month,#Passengers,#Passengers_rolling_mean_3,#Passengers_rolling_std_3,#Passengers_rolling_var_3,#Passengers_rolling_cv_3,#Passengers_rolling_mean_6,#Passengers_rolling_std_6,#Passengers_rolling_var_6,#Passengers_rolling_cv_6,#Passengers_rolling_mean_12,#Passengers_rolling_std_12,#Passengers_rolling_var_12,#Passengers_rolling_cv_12
0,1949-01,112,112.000000,4.242641,18.000000,0.036893,112.000000,4.242641,18.000000,0.036893,112.000000,4.242641,18.000000,0.036893
1,1949-02,118,115.000000,4.242641,18.000000,0.036893,115.000000,4.242641,18.000000,0.036893,115.000000,4.242641,18.000000,0.036893
2,1949-03,132,120.666667,10.263203,105.333333,0.085054,120.666667,10.263203,105.333333,0.085054,120.666667,10.263203,105.333333,0.085054
3,1949-04,129,126.333333,7.371115,54.333333,0.058347,122.750000,9.358597,87.583333,0.076241,122.750000,9.358597,87.583333,0.076241
4,1949-05,121,127.333333,5.686241,32.333333,0.044656,122.400000,8.142481,66.300000,0.066524,122.400000,8.142481,66.300000,0.066524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1960-08,606,587.666667,46.306947,2144.333333,0.078798,519.166667,82.470399,6801.366667,0.158851,463.333333,83.630500,6994.060606,0.180497
140,1960-09,508,578.666667,61.719797,3809.333333,0.106659,534.000000,67.495185,4555.600000,0.126395,467.083333,84.617276,7160.083333,0.181161
141,1960-10,461,525.000000,73.979727,5473.000000,0.140914,534.000000,67.495185,4555.600000,0.126395,471.583333,82.541954,6813.174242,0.175032
142,1960-11,390,453.000000,59.405387,3529.000000,0.131138,520.333333,87.805846,7709.866667,0.168749,473.916667,79.502382,6320.628788,0.167756
143,1960-12,432,427.666667,35.697806,1274.333333,0.083471,503.166667,94.200672,8873.766667,0.187216,476.166667,77.737125,6043.060606,0.163256

diff
→ 월별이면 1, 3, 6, 12
→ 주별이면 1, 4, 12, 52
→ 일별이면 1, 7, 30, 365

diff(1) → 바로 전 시점과 비교 (전월 대비)
diff(3) → 3 개월 전과 비교 (분기 기반 변화)
diff(12) → 1 년 전 동월과 비교

수요예측: diff(1), diff(12)
트렌드 탐지: diff(3), diff(6)
계절성 분해: diff(12)
급변 감지: diff(1) + rolling(std) or cv

In [40]:
# 차분
air_df['diff_1'] = air_df['#Passengers'].diff(1)
air_df['diff_3'] = air_df['#Passengers'].diff(3)
air_df['diff_6'] = air_df['#Passengers'].diff(6)
air_df['diff_12'] = air_df['#Passengers'].diff(12)

In [41]:
air_df

,Month,#Passengers,#Passengers_rolling_mean_3,#Passengers_rolling_std_3,#Passengers_rolling_var_3,#Passengers_rolling_cv_3,#Passengers_rolling_mean_6,#Passengers_rolling_std_6,#Passengers_rolling_var_6,#Passengers_rolling_cv_6,#Passengers_rolling_mean_12,#Passengers_rolling_std_12,#Passengers_rolling_var_12,#Passengers_rolling_cv_12,diff_1,diff_3,diff_6,diff_12
0,1949-01-01,112,112.000000,4.242641,18.000000,0.036893,112.000000,4.242641,18.000000,0.036893,112.000000,4.242641,18.000000,0.036893,NaN,NaN,NaN,NaN
1,1949-02-01,118,115.000000,4.242641,18.000000,0.036893,115.000000,4.242641,18.000000,0.036893,115.000000,4.242641,18.000000,0.036893,6.0,NaN,NaN,NaN
2,1949-03-01,132,120.666667,10.263203,105.333333,0.085054,120.666667,10.263203,105.333333,0.085054,120.666667,10.263203,105.333333,0.085054,14.0,NaN,NaN,NaN
3,1949-04-01,129,126.333333,7.371115,54.333333,0.058347,122.750000,9.358597,87.583333,0.076241,122.750000,9.358597,87.583333,0.076241,-3.0,17.0,NaN,NaN
4,1949-05-01,121,127.333333,5.686241,32.333333,0.044656,122.400000,8.142481,66.300000,0.066524,122.400000,8.142481,66.300000,0.066524,-8.0,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1960-08-01,606,587.666667,46.306947,2144.333333,0.078798,519.166667,82.470399,6801.366667,0.158851,463.333333,83.630500,6994.060606,0.180497,-16.0,134.0,215.0,47.0
140,1960-09-01,508,578.666667,61.719797,3809.333333,0.106659,534.000000,67.495185,4555.600000,0.126395,467.083333,84.617276,7160.083333,0.181161,-98.0,-27.0,89.0,45.0
141,1960-10-01,461,525.000000,73.979727,5473.000000,0.140914,534.000000,67.495185,4555.600000,0.126395,471.583333,82.541954,6813.174242,0.175032,-47.0,-161.0,0.0,54.0
142,1960-11-01,390,453.000000,59.405387,3529.000000,0.131138,520.333333,87.805846,7709.866667,0.168749,473.916667,79.502382,6320.628788,0.167756,-71.0,-216.0,-82.0,28.0
143,1960-12-01,432,427.666667,35.697806,1274.333333,0.083471,503.166667,94.200672,8873.766667,0.187216,476.166667,77.737125,6043.060606,0.163256,42.0,-76.0,-103.0,27.0

In [42]:
air_df.fillna(method='bfill', inplace=True)

C:\Users\shoot\AppData\Local\Temp\ipykernel_16348\1422205112.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  air_df.fillna(method='bfill', inplace=True)

In [43]:
air_df

,Month,#Passengers,#Passengers_rolling_mean_3,#Passengers_rolling_std_3,#Passengers_rolling_var_3,#Passengers_rolling_cv_3,#Passengers_rolling_mean_6,#Passengers_rolling_std_6,#Passengers_rolling_var_6,#Passengers_rolling_cv_6,#Passengers_rolling_mean_12,#Passengers_rolling_std_12,#Passengers_rolling_var_12,#Passengers_rolling_cv_12,diff_1,diff_3,diff_6,diff_12
0,1949-01-01,112,112.000000,4.242641,18.000000,0.036893,112.000000,4.242641,18.000000,0.036893,112.000000,4.242641,18.000000,0.036893,6.0,17.0,36.0,3.0
1,1949-02-01,118,115.000000,4.242641,18.000000,0.036893,115.000000,4.242641,18.000000,0.036893,115.000000,4.242641,18.000000,0.036893,6.0,17.0,36.0,3.0
2,1949-03-01,132,120.666667,10.263203,105.333333,0.085054,120.666667,10.263203,105.333333,0.085054,120.666667,10.263203,105.333333,0.085054,14.0,17.0,36.0,3.0
3,1949-04-01,129,126.333333,7.371115,54.333333,0.058347,122.750000,9.358597,87.583333,0.076241,122.750000,9.358597,87.583333,0.076241,-3.0,17.0,36.0,3.0
4,1949-05-01,121,127.333333,5.686241,32.333333,0.044656,122.400000,8.142481,66.300000,0.066524,122.400000,8.142481,66.300000,0.066524,-8.0,3.0,36.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1960-08-01,606,587.666667,46.306947,2144.333333,0.078798,519.166667,82.470399,6801.366667,0.158851,463.333333,83.630500,6994.060606,0.180497,-16.0,134.0,215.0,47.0
140,1960-09-01,508,578.666667,61.719797,3809.333333,0.106659,534.000000,67.495185,4555.600000,0.126395,467.083333,84.617276,7160.083333,0.181161,-98.0,-27.0,89.0,45.0
141,1960-10-01,461,525.000000,73.979727,5473.000000,0.140914,534.000000,67.495185,4555.600000,0.126395,471.583333,82.541954,6813.174242,0.175032,-47.0,-161.0,0.0,54.0
142,1960-11-01,390,453.000000,59.405387,3529.000000,0.131138,520.333333,87.805846,7709.866667,0.168749,473.916667,79.502382,6320.628788,0.167756,-71.0,-216.0,-82.0,28.0
143,1960-12-01,432,427.666667,35.697806,1274.333333,0.083471,503.166667,94.200672,8873.766667,0.187216,476.166667,77.737125,6043.060606,0.163256,42.0,-76.0,-103.0,27.0

In [44]:
# 달 정보 추출
air_df['month'] = air_df['Month'].dt.month

pct_change(n)도 diff(n)처럼 → n 시점 전 대비 '비율 변화'를 계산하는 
용도: 변화 속도, 급증/급감 감지
사용 목적: 이상 감지, 상승률 중심 해석 

일별: 1, 7, 30, 365
주별: 1, 4, 12, 52
월별: 1, 3, 12

최근 단기 증감 감지 → n=1
분기 비고 → n=3
계절성 패턴 비교 → n=12

In [45]:
air_df['pct_change_1'] = air_df['#Passengers'].pct_change(1)
air_df['pct_change_3'] = air_df['#Passengers'].pct_change(3)
air_df['pct_change_12'] = air_df['#Passengers'].pct_change(12)

In [48]:
air_df

,Month,#Passengers,#Passengers_rolling_mean_3,#Passengers_rolling_std_3,#Passengers_rolling_var_3,#Passengers_rolling_cv_3,#Passengers_rolling_mean_6,#Passengers_rolling_std_6,#Passengers_rolling_var_6,#Passengers_rolling_cv_6,...,#Passengers_rolling_var_12,#Passengers_rolling_cv_12,diff_1,diff_3,diff_6,diff_12,month,pct_change_1,pct_change_3,pct_change_12
0,1949-01-01,112,112.000000,4.242641,18.000000,0.036893,112.000000,4.242641,18.000000,0.036893,...,18.000000,0.036893,6.0,17.0,36.0,3.0,1,0.053571,0.151786,0.026786
1,1949-02-01,118,115.000000,4.242641,18.000000,0.036893,115.000000,4.242641,18.000000,0.036893,...,18.000000,0.036893,6.0,17.0,36.0,3.0,2,0.053571,0.151786,0.026786
2,1949-03-01,132,120.666667,10.263203,105.333333,0.085054,120.666667,10.263203,105.333333,0.085054,...,105.333333,0.085054,14.0,17.0,36.0,3.0,3,0.118644,0.151786,0.026786
3,1949-04-01,129,126.333333,7.371115,54.333333,0.058347,122.750000,9.358597,87.583333,0.076241,...,87.583333,0.076241,-3.0,17.0,36.0,3.0,4,-0.022727,0.151786,0.026786
4,1949-05-01,121,127.333333,5.686241,32.333333,0.044656,122.400000,8.142481,66.300000,0.066524,...,66.300000,0.066524,-8.0,3.0,36.0,3.0,5,-0.062016,0.025424,0.026786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1960-08-01,606,587.666667,46.306947,2144.333333,0.078798,519.166667,82.470399,6801.366667,0.158851,...,6994.060606,0.180497,-16.0,134.0,215.0,47.0,8,-0.025723,0.283898,0.084079
140,1960-09-01,508,578.666667,61.719797,3809.333333,0.106659,534.000000,67.495185,4555.600000,0.126395,...,7160.083333,0.181161,-98.0,-27.0,89.0,45.0,9,-0.161716,-0.050467,0.097192
141,1960-10-01,461,525.000000,73.979727,5473.000000,0.140914,534.000000,67.495185,4555.600000,0.126395,...,6813.174242,0.175032,-47.0,-161.0,0.0,54.0,10,-0.092520,-0.258842,0.132678
142,1960-11-01,390,453.000000,59.405387,3529.000000,0.131138,520.333333,87.805846,7709.866667,0.168749,...,6320.628788,0.167756,-71.0,-216.0,-82.0,28.0,11,-0.154013,-0.356436,0.077348
143,1960-12-01,432,427.666667,35.697806,1274.333333,0.083471,503.166667,94.200672,8873.766667,0.187216,...,6043.060606,0.163256,42.0,-76.0,-103.0,27.0,12,0.107692,-0.149606,0.066667

In [50]:
air_df.isnull().sum()

Month                          0
#Passengers                    0
#Passengers_rolling_mean_3     0
#Passengers_rolling_std_3      0
#Passengers_rolling_var_3      0
#Passengers_rolling_cv_3       0
#Passengers_rolling_mean_6     0
#Passengers_rolling_std_6      0
#Passengers_rolling_var_6      0
#Passengers_rolling_cv_6       0
#Passengers_rolling_mean_12    0
#Passengers_rolling_std_12     0
#Passengers_rolling_var_12     0
#Passengers_rolling_cv_12      0
diff_1                         0
diff_3                         0
diff_6                         0
diff_12                        0
month                          0
pct_change_1                   0
pct_change_3                   0
pct_change_12                  0
dtype: int64

In [47]:
air_df.fillna(method='bfill', inplace=True)

C:\Users\shoot\AppData\Local\Temp\ipykernel_16348\1422205112.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  air_df.fillna(method='bfill', inplace=True)

In [ ]:
# 날짜를 기준으로 벡터화하여 계층 클러스터링 함수 정의
def run_cluster(df, n_clusters):

    from sklearn.preprocessing import StandardScaler
    from sklearn.cluster import AgglomerativeClustering
    # 날짜를 기준으로 정렬렬
    df = df.sort_values('Month').reset_index(drop=True)

    features = df.columns.drop(['Month', '#Passengers'])
    X = df[features]

    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X)

    model = AgglomerativeClustering(
        n_clusters=n_clusters,
        linkage='ward'  # metric은 자동으로 euclidean으로 고정됨
    )

    return model.fit_predict(X_scaled)

In [52]:
air_df[f'cluster_3'] = run_cluster(air_df, n_clusters=3)
air_df[f'cluster_4'] = run_cluster(air_df, n_clusters=4)
air_df[f'cluster_5'] = run_cluster(air_df, n_clusters=5)
air_df[f'cluster_6'] = run_cluster(air_df, n_clusters=6)
air_df[f'cluster_7'] = run_cluster(air_df, n_clusters=7)
air_df[f'cluster_8'] = run_cluster(air_df, n_clusters=8)
air_df[f'cluster_9'] = run_cluster(air_df, n_clusters=9)
air_df[f'cluster_10'] = run_cluster(air_df, n_clusters=10)

In [53]:
air_df

,Month,#Passengers,#Passengers_rolling_mean_3,#Passengers_rolling_std_3,#Passengers_rolling_var_3,#Passengers_rolling_cv_3,#Passengers_rolling_mean_6,#Passengers_rolling_std_6,#Passengers_rolling_var_6,#Passengers_rolling_cv_6,...,pct_change_3,pct_change_12,cluster_3,cluster_4,cluster_5,cluster_6,cluster_7,cluster_8,cluster_9,cluster_10
0,1949-01-01,112,112.000000,4.242641,18.000000,0.036893,112.000000,4.242641,18.000000,0.036893,...,0.151786,0.026786,1,0,0,5,5,5,6,2
1,1949-02-01,118,115.000000,4.242641,18.000000,0.036893,115.000000,4.242641,18.000000,0.036893,...,0.151786,0.026786,1,0,0,5,5,5,6,2
2,1949-03-01,132,120.666667,10.263203,105.333333,0.085054,120.666667,10.263203,105.333333,0.085054,...,0.151786,0.026786,1,0,0,5,5,5,6,2
3,1949-04-01,129,126.333333,7.371115,54.333333,0.058347,122.750000,9.358597,87.583333,0.076241,...,0.151786,0.026786,1,0,0,5,5,5,6,2
4,1949-05-01,121,127.333333,5.686241,32.333333,0.044656,122.400000,8.142481,66.300000,0.066524,...,0.025424,0.026786,1,0,0,5,5,5,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1960-08-01,606,587.666667,46.306947,2144.333333,0.078798,519.166667,82.470399,6801.366667,0.158851,...,0.283898,0.084079,0,3,3,1,0,7,5,7
140,1960-09-01,508,578.666667,61.719797,3809.333333,0.106659,534.000000,67.495185,4555.600000,0.126395,...,-0.050467,0.097192,2,2,2,2,2,2,2,0
141,1960-10-01,461,525.000000,73.979727,5473.000000,0.140914,534.000000,67.495185,4555.600000,0.126395,...,-0.258842,0.132678,2,2,2,2,2,2,2,0
142,1960-11-01,390,453.000000,59.405387,3529.000000,0.131138,520.333333,87.805846,7709.866667,0.168749,...,-0.356436,0.077348,2,2,2,2,2,2,2,0
143,1960-12-01,432,427.666667,35.697806,1274.333333,0.083471,503.166667,94.200672,8873.766667,0.187216,...,-0.149606,0.066667,0,1,1,0,6,6,7,6

In [ ]:
# 실루엣 점수를 통한 응집력 검증
# 0.7 이상: 매우 잘 나뉨, 0.4~0.6: 쓸만함, 0.2~0.4: 좀 애매함
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

features = air_df.columns.drop(['Month', '#Passengers']).tolist()
X_scaled = StandardScaler().fit_transform(air_df[features])

for n in range(3, 11):
    col = f'cluster_{n}'
    score = silhouette_score(X_scaled, air_df[col])
    print(f'{col}: {score:.4f}')

cluster_3: 0.3237
cluster_4: 0.3307
cluster_5: 0.3754
cluster_6: 0.3224
cluster_7: 0.3411
cluster_8: 0.3567
cluster_9: 0.3682
cluster_10: 0.3619

In [ ]:
# 가장 높은 실루엣 점수의 컬럼을 제외한 나머지 컬럼 제거
drop_cols = [f'cluster_{n}' for n in range(3, 11) if n != 5]
air_df.drop(columns=drop_cols, inplace=True)

In [56]:
air_df

,Month,#Passengers,#Passengers_rolling_mean_3,#Passengers_rolling_std_3,#Passengers_rolling_var_3,#Passengers_rolling_cv_3,#Passengers_rolling_mean_6,#Passengers_rolling_std_6,#Passengers_rolling_var_6,#Passengers_rolling_cv_6,...,#Passengers_rolling_cv_12,diff_1,diff_3,diff_6,diff_12,month,pct_change_1,pct_change_3,pct_change_12,cluster_5
0,1949-01-01,112,112.000000,4.242641,18.000000,0.036893,112.000000,4.242641,18.000000,0.036893,...,0.036893,6.0,17.0,36.0,3.0,1,0.053571,0.151786,0.026786,0
1,1949-02-01,118,115.000000,4.242641,18.000000,0.036893,115.000000,4.242641,18.000000,0.036893,...,0.036893,6.0,17.0,36.0,3.0,2,0.053571,0.151786,0.026786,0
2,1949-03-01,132,120.666667,10.263203,105.333333,0.085054,120.666667,10.263203,105.333333,0.085054,...,0.085054,14.0,17.0,36.0,3.0,3,0.118644,0.151786,0.026786,0
3,1949-04-01,129,126.333333,7.371115,54.333333,0.058347,122.750000,9.358597,87.583333,0.076241,...,0.076241,-3.0,17.0,36.0,3.0,4,-0.022727,0.151786,0.026786,0
4,1949-05-01,121,127.333333,5.686241,32.333333,0.044656,122.400000,8.142481,66.300000,0.066524,...,0.066524,-8.0,3.0,36.0,3.0,5,-0.062016,0.025424,0.026786,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1960-08-01,606,587.666667,46.306947,2144.333333,0.078798,519.166667,82.470399,6801.366667,0.158851,...,0.180497,-16.0,134.0,215.0,47.0,8,-0.025723,0.283898,0.084079,3
140,1960-09-01,508,578.666667,61.719797,3809.333333,0.106659,534.000000,67.495185,4555.600000,0.126395,...,0.181161,-98.0,-27.0,89.0,45.0,9,-0.161716,-0.050467,0.097192,2
141,1960-10-01,461,525.000000,73.979727,5473.000000,0.140914,534.000000,67.495185,4555.600000,0.126395,...,0.175032,-47.0,-161.0,0.0,54.0,10,-0.092520,-0.258842,0.132678,2
142,1960-11-01,390,453.000000,59.405387,3529.000000,0.131138,520.333333,87.805846,7709.866667,0.168749,...,0.167756,-71.0,-216.0,-82.0,28.0,11,-0.154013,-0.356436,0.077348,2
143,1960-12-01,432,427.666667,35.697806,1274.333333,0.083471,503.166667,94.200672,8873.766667,0.187216,...,0.163256,42.0,-76.0,-103.0,27.0,12,0.107692,-0.149606,0.066667,1

In [ ]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error


features = air_df.columns.drop(['Month', '#Passengers']).tolist()
X = air_df[features]
y = air_df['#Passengers']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

model = XGBRegressor(
    n_estimators=100,
    max_depth=3,
    learning_rate=0.1,
    random_state=42
)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5

print(f'MSE: {mse:.4f}')
print(f'RMSE: {rmse:.4f}')

MSE: 181.5906
RMSE: 13.4756

### 오늘은 컬럼 수가 2개인 시계열 데이터를 다루어 보았습니다. 개별적으로 학습을 하고 있는 데이터 셋 또한 시계열 데이터인데 그 데이터 또한 피처가 5개 밖에 되질 않습니다. 하지만 시계열 데이터는 컬럼수가 적더라도 다양한 피처엔지니어링을 통해 더 많은 파생변수를 만들 수가 있습니다. 금일 과제를 하면서 차분과 비율 변화량 피처 생성을 처음 해보았습니다. 기존에 연습하던 학습에서 시간순 누적 통계량 기반의 그룹별 롤링 피처 자동 생성 함수(데이터의 안정성, 변동성, 예측 가능성을 수치화)를 만들었었는데 이번에도 똑같이 적용을 해보려고 했습니다. 하지만 이번 데이터는 컬럼 수가 2개여서 기존에 하던 방식과 차이가 조금 있었습니다. 기존에 방식은 groupby(col)[target_col].transform(lambda x: x.rolling(window_sizes, min_period=1).mean()) 이런식으로 했다면 이번 데이터는 groupby를 할 대상이 없었기 때문에 바로 컬럼에 롤링 함수를 적용하였습니다. 두 번째로 적용해 봤던 방식은 계층 클러스터링인데 이것 또한 군집수를 다르게 설정하여 비교해보기 위해 함수로 정의를 했습니다. 원래 피처수가 적어 클러스터링을 할 수 없었지만 다양한 파생변수로 데이터 프레임을 채워 나가다 보니 클러스터링을 할 재료들이 모이게 되었습니다. 그래서 시도를 해봤습니다. 기존에는 시간을 중심축으로 하여 피벗 테이블을 만들지만 시간은 테이블의 컬럼으로 보내고 군집화 하고 싶은 피처를 행으로 보내서 군집화 하고 싶은 피처가 벡터화 될 수 있게 하여 클러스터링 모델에 넣는 피벗 기반 클러스터링 이였다면 이번 학습 시간에서는 그냥 피처 리스트를 클러스터링 모델에 넣었습니다. 즉 피처 기반 클러스터링이였던 것입니다. 이후 군집의 응집력을 비교하기 위해 실루엣 점수 라는 것을 알게 되었는데 해당 코드는 제가 작성하지는 않았습니다. 또한 모델링 또한 제가 직접 작성하지 않았습니다. 부끄럽지만 저는 아직도 평가지표를 제대로 볼 줄 모릅니다. 오로지 신경은 데이터 전처리및 통계를 통한 피처 설계에 가 있는 상태입니다. 추후에 모델링이나 평가지표를 보는 방법 또한 보완을 해야겠습니다.